/*------------ FOOTER-------------*/

footer div {
    width: 50%;
}

footer {
    position: relative;
    border-top: solid 1px;
    border-color: rgb(240, 240, 240);
    bottom: 0;
    margin: 5rem 0rem 0rem 0rem;
    width: 100%;

}

#footer-nav {
    float: left;
    display: inline-block;
    margin: 0;
}

#footer-nav ul {
    padding: 0;
}

#footer-nav a {
    font-weight: 100;
    text-decoration: none;
}

#footer-nav a:hover {
    text-decoration: underline;
}

#subscription-cta {
    padding: 0;
    float: right;
    text-align: right;
}

#subscription-cta p {
    max-width: 100%;
    margin: 0;
}

#subscription-cta input {
    height: 3em;
    width: 50%;
}

#subscription-cta button {
    padding: 1em 1em;
    margin: 0em;
}

#copyright {
    padding-top: 12em;
    max-width: 100%;
    text-align: center;
    color: darkgray;
}

@media screen and (orientation: portrait) {
    footer div {
        width: 100%;
    }
    #subscription-cta input {
        height: 3em;
        width: 100%;
    }
    #subscription-cta button {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        display: block;
    }
    #subscription-cta {
        text-align: center;
    }

}
