/*------------ FOOTER-------------*/

footer div {
    margin: 0 auto;
    text-align: center;
}

footer {
    position: relative;
    border-top: solid 1px;
    border-color: rgb(240, 240, 240);
    bottom: 0;
    margin: 5rem 0rem 0rem 0rem;
    width: 100%;
    left: 0;

}

#subscription-cta p {
    max-width: 100%;
    margin: 0;
    text-align: center;
}

#subscription-cta input {
    height: 3em;
    width: 20%;
}

#subscription-cta button {
    padding: 1em 1em;
}


@media screen and (orientation: portrait) {
    footer div {
        width: 100%;
    }
    #subscription-cta input {
        height: 3em;
        width: 100%;
    }
    #subscription-cta button {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        display: block;
    }

}
