/*
.item-image {
    display: inline-block;
    width: 50%;
    margin: 0;
}

.item-image img {
    width: 100%;
}



.item-info {
    display: inline-block;
    width: 50%;
    margin: 0;
}

.item-overview {
    display: flex;
}

.item-overview div {
    display: inline-block;
    width: 50%;
    float: left;
    margin: 0;
}
*/

/*
.item-overview {
    display: flex;
}
*/

.item-overview:after {
    content: " ";
    display: block;
    clear: both;
}

.item-overview div {
    width: 50%;
    float: left;
    margin-top: 4em;
    margin-left: 0em;
}

.item-info h3 {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 2em;
    color: dimgray;
    font-weight: lighter;
    letter-spacing: 0.1rem;
}

.item-info li {
    font-weight: 100;
    list-style: disc;
}

.item-image-additional {
    width: 20%;
    margin: 0;
}
