.item-info a {
    display: inline-block;
    clear: both;
    color: white;
    font-family: Source Sans Pro;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-size: 1em;

    padding: 0.7em 2.5em;
    border: none;
    background-color: rgb(43, 43, 43);
    text-decoration: none;
}

.item-info a:hover {
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background-color: lightgray;
}


.item-overview:after {
    content: " ";
    display: block;
    clear: both;
}

.item-overview div {
    width: 50%;
    float: left;
    margin-left: 0em;
}

/*--------bread crumb nav--------*/

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 0.8em;
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: cadetblue;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    text-decoration: underline;
}

/*END*/

.item-info {
    width: 40%;
    padding-left: 3em;
    margin-top: 4rem;
}

.item-info h2 {
    margin-bottom: 0;
}

.item-info h3 {
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 1.5em;
    color: dimgray;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
}



.item-info li {
    font-weight: 100;
    list-style: disc;
}

.item-image-additional {
    width: 20%;
    margin: 0;
}

.product-suggestion-container {
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
}

.product-suggestion-container h3 {
    padding-top: 2em;
    margin: 0em;
}

.product-suggestion {
    display: inline-block;
    width: 20%;
    margin: 0em auto;
    padding: 0rem 2rem;
    padding-bottom: 2em;
}

.product-suggestion a:hover {
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    filter: url(#brightness);
    /* required for FF */
    filter: brightness(90%);

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}

.product-suggestion img {
    padding: 0em;
}

.product-suggestion a {
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
    .item-info ul {
        text-align: left;
    }
    .item-info {
        padding: 0;
        margin: 0rem;
    }
    .item-overview div {
        width: 100%;
    }
    #suggestion-horizontal-scroll {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .product-suggestion {
        display: inline-block;
        width: 100%;
    }
}
