/*
.item-image {
    display: inline-block;
    width: 50%;
    margin: 0;
}

.item-image img {
    width: 100%;
}



.item-info {
    display: inline-block;
    width: 50%;
    margin: 0;
}

.item-overview {
    display: flex;
}

.item-overview div {
    display: inline-block;
    width: 50%;
    float: left;
    margin: 0;
}
*/

/*
.item-overview {
    display: flex;
}
*/

.item-info a {
    display: inline-block;
    clear: both;
    color: white;
    font-family: Source Sans Pro;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-weight: 500;

    padding: 1.2em 2.5em;
    border: none;
    background-color: rgb(43, 43, 43);
    text-decoration: none;
}

.item-info a:hover {
    text-decoration: none;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    background-color: lightgray;
}

.item-overview:after {
    content: " ";
    display: block;
    clear: both;
}

.item-overview div {
    width: 50%;
    float: left;
    margin-left: 0em;
}

.item-info {
    margin-top: 4rem;
}

.item-info h2 {
    margin-bottom: 0;
}

.item-info h3 {
    font-family: 'Source Sans Pro';
    text-transform: uppercase;
    font-size: 1.5em;
    color: dimgray;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
}

.item-info li {
    font-weight: 100;
    list-style: disc;
}

.item-image-additional {
    width: 20%;
    margin: 0;
}

@media only screen and (max-width: 600px){
    .item-overview div {
    width: 100%;
}
}
