.cart-container {
    display: inline-flex;
    border-top: solid 1px;
    border-color: rgb(240, 240, 240);



}

.cart-container div {
    display: block;
    width: 33.3%;
    height: auto;
    /*    float: left;*/
    margin-left: 0em;
    margin-bottom: 0em;
}

.cart-sub-header {
    border-bottom: solid 2px;
    border-color: rgb(240, 240, 240);
    padding-bottom: 1em
}

/*LEFT DIV*/

.cart-product-section img {
    width: 100%;
}

.cart-product-section h4 {
    display: inline-block;
    margin-top: 0;

}

/*MIDDLE DIV*/

.cart-product-desctiption {
    padding: 12em 4em 0em 4em;
}

.cart-product-desctiption h4 {
    margin-top: 0
}

.cart-product-desctiption input {
    text-align: center;
    padding: 0.5em;
    font-size: 1em;
}

/*RIGHT SIDE*/

.cart-overview {
    padding-bottom: 30em;
}

.cart-overview h4 {
    font-weight: 600;
}

.cart-overview button {
    width: 100%
}

@media only screen and (max-width: 600px) {
    .cart-container {
        display: block;
    }

    .cart-container div {
        width: 100%;
        float: none;
    }
    .cart-product-desctiption {
        padding: 1em 4em;
    }
    .cart-overview {
        padding-bottom: 0em;
    }
    .cart-overview h3 {
        border-top: solid 1px;
        padding-top: 1em;

    }

}
