/*PRODUCT LISTINGS*/

#product-listings {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#product-listings:after {
    content: " ";
    display: block;
    clear: both;
}

.product-listing {
    width: 33.3%;
    float: left;
    margin: 0;
    padding: 1rem;
}

.product-listing img {
    border: solid 1px;
    border-color: rgb(240, 240, 240);
}

.product-listing figcaption {
    text-align: center;
    font-weight: 600;
}

.product-listing a {
    text-decoration: none;
}

.product-suggestion-container {
    border-top: solid 1px black;
    text-align: center;
    margin: 0 auto;
}

.product-suggestion-container h3 {
    margin: 0em;
}

.product-suggestion {
    display: inline-block;
    width: 20%;
    margin: 0em auto;
    padding: 0rem 2rem;
}

.product-suggestion img {
    padding: 0em;
}


#filter-section {
    text-align: center;
}

#filter {
    border-bottom: solid 1px;
    border-color: rgb(240, 240, 240);
    display: inline-block;
    margin: 0 auto;
    width: 30rem;
}

#filter ul {
    display: inline-block;
    padding-left: 0;
}

#filter li {
    float: left;
    margin: 0 2rem;
}

#filter a {
    text-decoration: none;
}

@media screen and (orientation: portrait) {
    .product-listing {
        width: 50%;
    }

    #filter ul {
        display: block;
    }

    #filter li {
        display: block;
        clear: both;
        float: left;
        margin-bottom: 1rem;
    }
}
