/*PRODUCT LISTINGS*/

#product-listings {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#product-listings:after {
    content: " ";
    display: block;
    clear: both;
}

.product-listing {
    width: 33.3%;
    float: left;
    margin: 0;
    margin-bottom: 5em;
    padding: 1rem;
}

.product-listing img {
    border: solid 1px;
    border-color: rgb(240, 240, 240);
}

.product-listing figcaption {
    text-align: center;
    font-weight: 600;
}

.product-listing a {
    text-decoration: none;
}

.product-listing a:hover {


    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
    filter: url(#brightness);
    /* required for FF */
    filter: brightness(90%);

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out
}



#filter-section {
    text-align: center;
}

#filter {
    border-bottom: solid 1px;
    border-color: rgb(240, 240, 240);
    display: inline-block;
    margin: 0 auto;
    width: 30rem;
}

#filter ul {
    display: inline-block;
    padding-left: 0;
}

#filter li {
    float: left;
    margin: 0 2rem;
}

#filter a {
    text-decoration: none;
}

@media screen and (orientation: portrait) {
    .product-listing {
        width: 100%;
    }

    #filter ul {
        display: block;
    }

    #filter li {
        display: block;
        clear: both;
        float: left;
        margin-bottom: 1rem;
    }
}
