/*PRODUCT LISTINGS*/

#product-listings {
    display: flex;
    flex-wrap: wrap;
    float: left;
}

#product-listings:after {
    content: " ";
    display: block;
    clear: both;
}

.product-listing {
    width: 33.3%;
    float: left;
    margin: 0;
    padding: 1rem;
}

.product-listing figcaption {
    text-align: center;
}

#filter {
    display: inline-block;
    margin: 0 auto;
    width: 30rem;
}

#filter ul {
    display: inline-block;
    padding-left: 0;
}

#filter li {
    float: left;
    margin: 0 2rem;
}

#filter a {
        text-decoration: none;
}

@media screen and (orientation: portrait) {
    .product-listing {
        width: 50%;
    }
    
    #filter ul{
        display: block;
    }
    
    #filter li{
        display: block;
        clear: both;
        float: left;
        margin-bottom: 1rem;
    }
}