/*----------------------CITATIONS----------------------*/

#citations {
    padding: 5rem;
}

#citations ul {
    font-weight: 100;
}

#citations li {
    margin-bottom: 2rem;
    font-weight: 100;
}
