/*
#landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#landingBG {
    z-index: -1;
    position: absolute;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

#landingLogo {
    text-align: center;
}

#landing h1 {
    margin-bottom: 0;
}

#landing h2 {
    margin-bottom: 4rem;
}

#introduction {
    height: 100vh;
    padding: 5rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#introduction img {
    width: 17rem;
    margin-bottom: 2rem;
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    filter: url(#brightness);
     required for FF 
    filter: brightness(50%);
}

#introduction p {
    max-width: 40rem;
}
*/

.landing-top-image {
    height: 85vh;
    width: 100%;
    margin-bottom: 2rem;
}

.landing-top-image #hero{
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    filter: url(#brightness);
    /* required for FF */
    filter: brightness(70%);
    height: 85vh !important;
    border-top-left-radius: 15rem;
}

#og-logo {
    height: 4rem;
    margin-bottom: 1rem;
}

.landing-top-image div{
    width: auto;
    position: relative;
    top: -50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.landing-top-image h2 {
    text-align: center;
}

.landing-top-image .btn {
    border: solid 2px white;
    padding: 1rem 3rem;
    color: white;
    text-decoration: none;
    transition: 0.5s;
    margin-top: 2rem;
}

.landing-top-image .btn:hover {
    border-color: white;
    background: white;
    color: black;

}

.flex-item-66 h2 {
    color: white;
    padding-left: 0.3em;
    font-size: 4em;
    font-weight: 600;
    position: absolute;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .landing-top-image {
        padding: 1rem;
    }

}
