.main-nav {

    z-index: 100;
    display: inline-block;
    margin-top: 1.5em;
    margin-right: 8em;
    float: right;
}

.main-nav li {
    display: inline-block;
    list-style: none;
    letter-spacing: 0.2em;
    font-size: 0.8em;

}

.main-nav a {
    color: black;
    padding: 0 2em;
    text-decoration: none;
}
